/*TODO: ADD mobile responsive styles */
#mobile-menu{
    display: none;
}
#mobile-btn {
    display: none;
}

@media screen and (max-width: 600px) {
    .nav-btn {
     font-size: .5rem;
    }
    .quote {
     font-size: 1rem;
    }

    .links-container {
        display: none;
    }
    .btn-container {
        flex-wrap: wrap;
    }
    #contact{
        font-size: 1.5rem;

    }
    .contact-details {
        font-size: 1rem;
    }
    /* #mobile-menu{
        display: block;
    } */
    #hamburger{
        font-size: 2rem;
        color: rgb(255, 255, 0);
        background-color: #333;
        z-index: 0;
        box-shadow: var(--yella-shadow);
        border-radius: 6px;
    }
    #mobile-btn {
        display: block;
    }

    .photo {
        display: none;
    }

    .project-center {
        width: 75vw;
    }
    .proj-link {
        /* letter-spacing: var(--spacing-medium); */
        padding: 0px;
        color: var(--dark-gray);
      }
      

    .blog-info {
        width: 95vw;
    }
    .item-info{
        display: flex;
        flex-direction: column;
        background-image: "public/imgs/colorFlipPreview.png";
        background-color: rgba(255, 255, 0, .2);
        width: 55vw;
        padding: 15px;
    }

    .show-text #certificates {
        display: flex;
        justify-content: space-around;
        width: 90vw;
    }
  }

