/* 
=====================
blog
===================== 
*/

#blog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}
.blog-center{
    display: flex;
    align-content: center;
    justify-content: center;
}
.blog-card{
    padding: 10px;
    margin: 10px;
    /* background: var(--light-gray);
    border: 1px solid var(--dark-gray); */
    width: 66.6%;
    /* box-shadow:         1px 6px 6px 0px rgba(0, 0, 0, 0.66); */
    /* border-radius: var(--radius); */
    display: flex;
    flex-direction: column;


}
.blog-title{
    align-self: center;
}
.blog-info{
    padding-top: 15px;
    display: flex;
    width: 750px;
    height: 150px;
  
}
.blog-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 25px;
}

.blog-photo {
        align-self: flex-start;
        object-fit: cover;
        height: 150px;
        width: 150px;
       
}

.blog-link {
    align-self: flex-end;
}

#vs-code-theme-blog {
    grid-area: a;
}

#vs-code-theme-blog4 {
    grid-area: d;
}
#vs-code-theme-blog3 {
    grid-area: c;
}
#vs-code-theme-blog2 {
    grid-area: b;
}